@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-width: 100vw; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

nav {
  grid-row: 1 / 3;
  grid-column: 1;
  padding: 2rem;
  background-color: #1992d4;
  color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, max-content);
}

nav img {
  fill: #fff;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1rem; */
  font-size: 1.5rem;
}

.logo-container img {
  padding-right: 0.5rem;
}

nav .container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.pic-container {
  width: 4rem;
  border-radius: 50%;
}

.pic-container img {
  max-width: 100%;
  border-radius: 50%;
}

header {
  grid-column: 2;
  grid-row: 1;
  background-color: #fff;
  box-shadow: 0 5px 5px #b9b9b9;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, max-content);
}

header .search {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

header .search input {
  flex: 1 1 30rem;
  margin: 0 7rem 0 1rem;
  background-color: #e2e8f0;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  max-width: 50rem;
}

header .account {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .account .pic-container {
  width: 2.6rem;
  margin: 0 1.5rem;
}

header .account > * {
  cursor: pointer;
}

header .greeting {
  padding: 2rem 0 0 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
}

.greeting .pic-container {
  grid-row: 1 / 3;
  margin-right: 1rem;
}

.greeting span {
  align-self: end;
}

header .actions {
  align-self: end;
  padding: 0.5rem 0;
}

button {
  min-width: 6rem;
  padding: 0.6rem;
  background-color: #1992d4;
  color: #fff;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
}
